* {
  margin: auto;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: auto;
  width: 80%;
}

.spacer {
  height: 2.5vw;
}

header {
  display: flex;
  height: 5.2vw;
  max-width: 1366px;
}

.logo p {
  flex: 25%;
  text-align: center;
  font-size: 2.5vw;
  font-weight: 800;
  color: rgb(54, 10, 124);
  line-height: 2.2vw;
}

.menu {
  flex: 75%;
}

.menu ul {
  list-style: none;
}

.menu li {
  display: inline;
}

li a {
  margin-left: 3.5vw;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.title {
  font-size: 4.5vw;
  text-align: center;
  font-weight: 700;
}

.about {
  display: flex;
  margin: auto;
}

img {
  flex: 1;
  width: 500px;
  padding: 1vw;
}

.abt {
  flex: 1;
  padding: 1.5vw;
}

h2 {
  font-size: 3.5vw;
}

p {
  text-align: left;
  line-height: 2.4vw;
  font-size: 1.2vw;
}

.ser {
  display: flex;
}

.ser .box {
  /* margin-left: 1.5vw; */
  flex: 1;
  text-align: center;
  padding: 1vw;
}

h1 {
  text-align: center;
  font-size: 2.8vw;
}

.ser i {
  font-size: 8vw;
  color: rgb(54, 10, 124);
}

.cont {
  display: flex;
  background: url(images/bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.con {
  flex: 1;
  color: blanchedalmond;
  margin-top: 2vw;
}
.map {
  text-align: center;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: 1px 1px 5px 2px rgba(39, 37, 37, 0.333);
}
footer {
  height: 150px;
  background-color: rgb(29, 4, 53);
}

footer p {
  text-align: center;
  line-height: 4vw;
  color: rgb(255, 255, 255);
  font-size: 1.3vw;
}
.iconmain {
  display: flex;
  width: 11.6vw;
}

.icon svg {
  height: 2.5vw;
  width: 2.5vw;
}
